<div class="container-fluid">
  <div class="text-left">
    <h4>Faça o cadastro do cliente</h4>
  </div>

  <form [formGroup]="clenteForm">
    <div class="mb-4">
      <h6>Nome e PIS</h6>

      <div class="row">
        <div class="col">
          <input id="nome" type="text" class="form-control" placeholder="Nome" aria-label="Nome" formControlName="nome"
            name="nome" />
            <div class="validation" *ngIf="!this.clenteForm.get('nome')?.valid && this.clenteForm.get('nome')?.touched">
              {{invalidField}}
            </div>
        </div>

        <div class="col">
          <input id="sobrenome" type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome"
            formControlName="sobrenome" name="sobrenome" />
        </div>
      </div>
      <br />

      <div>
        <input class="form-control" id="pis" type="text" placeholder="pis" formControlName="pis" name="pis" />
        <div class="validation" *ngIf="!this.clenteForm.get('pis')?.valid && this.clenteForm.get('pis')?.touched">
          {{invalidField}} - O tamanho mínimo é 5 e o máximo é 10
        </div>
      </div>

      <br />

      <h6>Contato</h6>

      <div class="row">
        <div class="col">
          <label class="form-label">Email</label>
          <input id="email" type="text" class="form-control" placeholder="name@email.com" formControlName="email"
            name="email" />
          <div class="validation" *ngIf="!this.clenteForm.get('email')?.valid && this.clenteForm.get('email')?.touched">
            {{invalidField}}
          </div>
        </div>

        <div class="col">
          <label class="form-label">Telefone</label>
          <input id="telefone" type="text" class="form-control" placeholder="(xx)xxxxx-xxxx" formControlName="telefone"
            name="telefone" />
        </div>
      </div>
      <br />

      <div>
        <button type="submit" class="btn btn-primary btn-block" (click)="this.registrar()">
          Registrar
        </button>

        <button style="float:right" type="submit" class="btn btn-danger btn-block" (click)="this.remover()">
          Remover
        </button>
      </div>
    </div>
  </form>
</div>
